@import url(https://fonts.googleapis.com/css?family=Oswald|Source+Sans+Pro&display=swap);

//Fonts
$title-font: 'Oswald', sans-serif;
$text-font: 'Source Sans Pro', sans-serif;

//Colors
$primary-color: #00b0c8;
$secondary-color: #5cb648;
$success-color: #e0d81d;
$dark-color: #000000;
$light-color: #ffffff;
$danger-color: #fb5579;
